//- <% if (1) {%>
.row
  nav.ui.grid.teal.menu.navbar
    .left.menu
      a.block.header.item(href="/") eScorer

    .right.menu
      a.item(href="/") Home
      a.item(href="/scorer") Scorer
      a.item(href="/") About
      a.item(href="/login") Login

.ui.divider
