
<div class="ui page grid">
    <div class="ui page grid">
        <div class="ui page grid">
            <%- partial ('header.ejs') %>

            <div class="ui divider"></div>
            <div class="ui grid">
                <div class="row">
                    <div class="column">
                        <div class="ui huge header">
                            <h1>eScorer.</h1>
                            <p>
                                Cricket Scorer
                            </p>
                            <p>
                                <a class="ui green button">Try it now!</a>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="ui hidden divider"></div>
            <div class="ui grid">
                <div class="two column row">
                    <div class="column">
                        <h2 class="ui medium header">Online Scorer</h2>
                        <p>
                            Simple to use for umpires, coaches or players.
                        </p>
                    </div>
                    <div class="column">
                        <h2 class="ui medium header">Live Statistics</h2>
                        <p>
                            Follow the match live from anywhere in the world. Make sure you know exactly how many runs are required at the death.
                        </p>
                    </div>
                </div>
                <div class="two column row">
                    <div class="column">
                        <h2 class="ui medium header">Subheading</h2>
                        <p>
                            Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
                        </p>
                    </div>
                    <div class="column">
                        <h2 class="ui medium header">Subheading</h2>
                        <p>
                            Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
                        </p>
                    </div>
                </div>
                <div class="two column row">
                    <div class="column">
                        <h2 class="ui medium header">Subheading</h2>
                        <p>
                            Maecenas sed diam eget risus varius blandit sit amet non magna.
                        </p>
                    </div>
                    <div class="column">
                        <h2 class="ui medium header">Subheading</h2>
                        <p>
                            Maecenas sed diam eget risus varius blandit sit amet non magna.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="ui divider"></div>
                        <span>&copy; GeeGee Edu 2015</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /.container -->
