extends ./layout

block body
  .ui.grid
    .row
      .column
        .ui.huge.center.aligned.header
          h1 eScorer
          h4 Cricket Scorer
          a.ui.green.button(href="/register") Register Now!

  .ui.divider
  .ui.grid
    .two.column.row
      .column
        .ui.segment.stacked
          h2.ui.medium.header Online Scorer
          p Simple to use for umpires, coaches or players.

      .column
        .ui.segment.stacked
          h2.ui.medium.header Live Statistics
          p Follow the match live from anywhere in the world. Make sure you know exactly how many runs are required at the death.

    .two.column.row
      .column
        .ui.segment.stacked
          h2.ui.medium.header More info
          p Something else

      .column
        .ui.segment.stacked
          h2.ui.medium.header Another Heading
          p Even more stuff this can do


